/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fuente global */
body {
  font-family: 'Manrope', sans-serif;
  background-color: #f7fafc; /* gris claro */
}

/* Opcional: estilo de enlaces */
a {
  text-decoration: none;
  color: inherit;
}
